# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
# import reduce from functools, numpy and pandas

from functools import reduce

# Challenge 1 - Mapping

#### We will use the map function to clean up a words in a book.

In the following cell, we will read a text file containing the book The Prophet by Khalil Gibran.

In [2]:
# Run this code:

location = '../khalil.txt'
with open(location, 'r', encoding="utf8") as f:
    prophet = f.read().split(' ')

#### Let's remove the first 568 words since they contain information about the book but are not part of the book itself. 

Do this by removing from `prophet` elements 0 through 567 of the list (you can also do this by keeping elements 568 through the last element).

In [81]:
# Your code here:

new_book = prophet[568:]
print(new_book[0:20])

['PROPHET\n\n|Almustafa,', 'the{7}', 'chosen', 'and', 'the\nbeloved,', 'who', 'was', 'a', 'dawn', 'unto', 'his', 'own\nday,', 'had', 'waited', 'twelve', 'years', 'in', 'the', 'city\nof', 'Orphalese']

If you look through the words, you will find that many words have a reference attached to them. For example, let's look at words 1 through 10.

In [4]:
# Your code here:

new_book[0:10]

['PROPHET\n\n|Almustafa,',
 'the{7}',
 'chosen',
 'and',
 'the\nbeloved,',
 'who',
 'was',
 'a',
 'dawn',
 'unto']

#### The next step is to create a function that will remove references. 

We will do this by splitting the string on the `{` character and keeping only the part before this character. Write your function below.

In [5]:

    '''
    Input: A string
    Output: The string with references removed
    
    Example:
    Input: 'the{7}'
    Output: 'the'
    '''
    
    # Your code here:

    def reference(x):
        clean_text = ""
        for i in x:
            try:
                clean_text = x.split("{")[0]
            except:
                clean_text = x
        return clean_text

Now that we have our function, use the `map()` function to apply this function to our book, The Prophet. Return the resulting list to a new list called `prophet_reference`

In [73]:
# Your code here:
prophet_reference = list(map(reference, new_book))
print(prophet_reference[0:20])

['PROPHET\n\n|Almustafa,', 'the', 'chosen', 'and', 'the\nbeloved,', 'who', 'was', 'a', 'dawn', 'unto', 'his', 'own\nday,', 'had', 'waited', 'twelve', 'years', 'in', 'the', 'city\nof', 'Orphalese']

Another thing you may have noticed is that some words contain a line break. Let's write a function to split those words. Our function will return the string split on the character `\n`. Write your function in the cell below.

In [7]:
def line_break(x):
    '''
    Input: A string
    Output: A list of strings split on the line break (\n) character
        
    Example:
    Input: 'the\nbeloved'
    Output: ['the', 'beloved']
    '''
    
    # Your code here:
    for i in x:
        return x.split("\n")

Apply the `line_break` function to the `prophet_reference` list. Name the new list `prophet_line`.

In [74]:
# Your code here:

prophet_line = list(map(line_break, prophet_reference))
print(prophet_line[0:20])

[['PROPHET', '', '|Almustafa,'], ['the'], ['chosen'], ['and'], ['the', 'beloved,'], ['who'], ['was'], ['a'], ['dawn'], ['unto'], ['his'], ['own', 'day,'], ['had'], ['waited'], ['twelve'], ['years'], ['in'], ['the'], ['city', 'of'], ['Orphalese']]

In [77]:
print(type(prophet_line))
print(prophet_line[1])

<class 'list'>
['the']

If you look at the elements of `prophet_line`, you will see that the function returned lists and not strings. Our list is now a list of lists. Flatten the list using list comprehension. Assign this new list to `prophet_flat`.

In [75]:
# Your code here:

prophet_flat = [item for sublist in prophet_line for item in sublist]

TypeError: 'NoneType' object is not iterable

In [42]:
nueva_lista = []

for i in prophet_line:
    for j in i:
        nueva_lista.append(j)
        
nueva_lista

TypeError: 'NoneType' object is not iterable

# Challenge 2 - Filtering

When printing out a few words from the book, we see that there are words that we may not want to keep if we choose to analyze the corpus of text. Below is a list of words that we would like to get rid of. Create a function that will return false if it contains a word from the list of words specified and true otherwise.

In [93]:

    '''
    Input: A string
    Output: true if the word is not in the specified list and false if the word is in the list
        
    Example:
    word list = ['and', 'the']
    Input: 'and'
    Output: False
    
    Input: 'John'
    Output: True
    '''
    
    # Your code here:
    def word_filter(x):
        word_list = ["and", "the", "a", "an"]
        for i in x:
            if i in word_list:
                return False
            else:
                return True

In [83]:
prophet_filter = list(filter(word_filter, prophet_reference))
print(prophet_filter[0:20])

['PROPHET\n\n|Almustafa,', 'the', 'chosen', 'the\nbeloved,', 'who', 'was', 'dawn', 'unto', 'his', 'own\nday,', 'had', 'waited', 'twelve', 'years', 'in', 'the', 'city\nof', 'Orphalese', 'for', 'his']

Use the `filter()` function to filter out the words speficied in the `word_filter()` function. Store the filtered list in the variable `prophet_filter`.

# Bonus Challenge - Part 1

Rewrite the `word_filter` function above to not be case sensitive.

In [128]:
def word_filter_case(x):
   
    word_list = ['and', 'the', 'a', 'an']
    
    # Your code here:
    
    for i in x:
        if i.lower() in word_list:
            return False
        else:
            return True

# Challenge 3 - Reducing

#### Now that we have significantly cleaned up our text corpus, let's use the `reduce()` function to put the words back together into one long string separated by spaces. 

We will start by writing a function that takes two strings and concatenates them together with a space between the two strings.

In [63]:

    '''
    Input:Two strings
    Output: A single string separated by a space
        
    Example:
    Input: 'John', 'Smith'
    Output: 'John Smith'
    '''
    
    # Your code here:
    def concat_space(a, b):
        return a + " " + b

'the sun'

Use the function above to reduce the text corpus in the list `prophet_filter` into a single string. Assign this new string to the variable `prophet_string`.

In [66]:
# Your code here:

reduce(concat_space, prophet_filter)[0:500]

'PROPHET\n\n|Almustafa, the chosen the\nbeloved, who was dawn unto his own\nday, had waited twelve years in the city\nof Orphalese for his ship that was to\nreturn bear him back to the isle of\nhis birth.\n\nAnd in the twelfth year, on the seventh\nday of Ielool, the month of reaping, he\nclimbed the hill without the city walls\nand looked seaward; he beheld his\nship coming with the mist.\n\nThen the gates of his heart were flung\nopen, his joy flew far over the sea.\nAnd he closed his eyes prayed in the\nsilence'

# Challenge 4 - Applying Functions to DataFrames

#### Our next step is to use the apply function to a dataframe and transform all cells.

To do this, we will load a dataset below and then write a function that will perform the transformation.

In [68]:
# Run this code:

# The dataset below contains information about pollution from PM2.5 particles in Beijing 
import pandas as pd

url = "https://archive.ics.uci.edu/ml/machine-learning-databases/00381/PRSA_data_2010.1.1-2014.12.31.csv"
pm25 = pd.read_csv(url)

Let's look at the data using the `head()` function.

In [69]:
# Your code here:
pm25.head()

   No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES cbwd    Iws  Is  Ir
0   1  2010      1    1     0    NaN   -21 -11.0  1021.0   NW   1.79   0   0
1   2  2010      1    1     1    NaN   -21 -12.0  1020.0   NW   4.92   0   0
2   3  2010      1    1     2    NaN   -21 -11.0  1019.0   NW   6.71   0   0
3   4  2010      1    1     3    NaN   -21 -14.0  1019.0   NW   9.84   0   0
4   5  2010      1    1     4    NaN   -20 -12.0  1018.0   NW  12.97   0   0

The next step is to create a function that divides a cell by 24 to produce an hourly figure. Write the function below.

In [72]:
def hourly(x):
    '''
    Input: A numerical value
    Output: The value divided by 24
        
    Example:
    Input: 48
    Output: 2.0
    '''
    
    # Your code here:
    return x // 24

2

Apply this function to the columns `Iws`, `Is`, and `Ir`. Store this new dataframe in the variable `pm25_hourly`.

In [99]:
# Your code here:
pm25_hourly = pm25.apply(lambda x: hourly(x) if x.name in ["Iws", "Is", "Ir"] else x)
print(pm25_hourly)

          No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES cbwd   Iws  \
0          1  2010      1    1     0    NaN   -21 -11.0  1021.0   NW   0.0
1          2  2010      1    1     1    NaN   -21 -12.0  1020.0   NW   0.0
2          3  2010      1    1     2    NaN   -21 -11.0  1019.0   NW   0.0
3          4  2010      1    1     3    NaN   -21 -14.0  1019.0   NW   0.0
4          5  2010      1    1     4    NaN   -20 -12.0  1018.0   NW   0.0
...      ...   ...    ...  ...   ...    ...   ...   ...     ...  ...   ...
43819  43820  2014     12   31    19    8.0   -23  -2.0  1034.0   NW   9.0
43820  43821  2014     12   31    20   10.0   -22  -3.0  1034.0   NW   9.0
43821  43822  2014     12   31    21   10.0   -22  -3.0  1034.0   NW  10.0
43822  43823  2014     12   31    22    8.0   -22  -4.0  1034.0   NW  10.0
43823  43824  2014     12   31    23   12.0   -21  -3.0  1034.0   NW  10.0

       Is  Ir
0       0   0
1       0   0
2       0   0
3       0   0
4       0   0
...    ..  ..
43819   0   0
43820   0   0
43821   0   0
43822   0   0
43823   0   0

[43824 rows x 13 columns]

#### Our last challenge will be to create an aggregate function and apply it to a select group of columns in our dataframe.

Write a function that returns the standard deviation of a column divided by the length of a column minus 1. Since we are using pandas, do not use the `len()` function. One alternative is to use `count()`. Also, use the numpy version of standard deviation.

In [120]:
def sample_sd(x):
    '''
    Input: A Pandas series of values
    Output: the standard deviation divided by the number of elements in the series
        
    Example:
    Input: pd.Series([1,2,3,4])
    Output: 0.3726779962
    '''
    
    # Your code here:
    import numpy as np
    return np.std(x) // (x.count() - 1)

In [121]:
sample_sd(pd.Series([1,2,3,200]))

28.0